@import url("/styles/styles.css");

@media only screen and (max-width: 767px) {
  .about-hero {
    text-align: center;
    overflow: hidden;
    color: var(--tile-color);
    font-size: 90px;
    font-weight: 500;
    margin-top: -40px;
    margin-bottom: 50px;
    opacity: 0;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  /* hero styles */
  .about-hero {
    text-align: center;
    overflow: hidden;
    color: var(--tile-color);
    font-size: 210px;
    font-weight: 500;
    margin-top: -40px;
    margin-bottom: 50px;
    opacity: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* hero styles */
  .about-hero {
    text-align: center;
    overflow: hidden;
    color: var(--tile-color);
    font-size: 210px;
    font-weight: 500;
    margin-top: -40px;
    margin-bottom: 50px;
    opacity: 0;
  }
}

.about-hero.animate {
  opacity: 1;
  transition: opacity 2s ease-in, transform 0.1s ease-in;
  transform: translateY(0);
}

/* img styles */
.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0%;
  max-height: 300px;
}

.Selfie {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
}

.Setup {
  transform: translateX(-20px);
  max-width: 100%;
  width: 55%;
  height: 100%;
  object-fit: contain;
}

/* description styles */
.intro {
  justify-content: left;
  height: auto;
  max-height: 300px;
}

.occupation {
  font-size: 16px;
  color: var(--third-color);
}

.experience-list {
  color: var(--third-color);
}

.about-me-description {
  color: var(--third-color);
}
